<div class="row">
  <div class="col-md-6">
    <h2>Request a Book</h2>

    <form class="form request-form">
      
      <div class="form-group">
        <label for="first-request">Requester's First Name:</label>
        <input class="form-input" type="text" id="first-request" />
      </div>
      
      <div class="form-group">
        <label for="last-request">Requester's Last Name:</label>
        <input class="form-input" type="text" id="last-request" />
      </div>
      
      <div class="form-group">
        <label for="author-first">Author First Name:</label>
        <input class="form-input" type="text" id="author-first" />
      </div>
      
      <div class="form-group">
        <label for="author-last">Author Last Name:</label>
        <input class="form-input" type="text" id="author-last" />
      </div>
      
      <div class="form-group">
        <label for="btitle">Book Title:</label>
        <input class="form-input" type="text" id="btitle" />
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      
    </form>
  </div>
  
  
<script src="./js/request.js"></script>


/*<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}*/
