<div class="row">
  <div class="col-md-6">
    <h1>Welcome {{name}}</h1>
    <table>
      <thead>
        <tr>
          <th>Author Name</th>
          <th>Book Title</th>
          <th>Donated By</th>
          <th>Claimed By</th>
        </tr>
      </thead>
      <tbody>
        {{#each allBooks }}
        <tr>
          <td>{{this.author}}
            <button data-id={{this.id}} class="requestbook">Request</button>
          </td>
          <td>{{this.title}}</td>
          <td>{{this.donated_by}}</td>
          <td>{{this.claimed_by}}</td>
          
        </tr>
        {{this}}
        {{/each}}
      </tbody>
    </table>
    <a href="/profile">My Dashboard</a>
    {{!-- <h2>Request a Book</h2>
    <form class="form request-form">
      
      <div class="form-group">
        <label for="first-author">Author Name:</label>
        <input class="form-input" type="text" id="author" />
      </div>
      
      <div class="form-group">
        <label for="title">Book Title:</label>
        <input class="form-input" type="text" id="booktitle" />
      </div>
      
      <div class="form-group">
        <label for="requestedby">Requested By:</label>
        <input class="form-input" type="hidden" id="requestedby" value={{id}} placeholder={{name}}/>
      </div>
      
      
     
      <div class="form-group">
        <button class="btn btn-primary" id ="request" type="submit">REQUEST</button>
      </form>
     </div>
     </div>
     --}}
  
<script src="./js/request.js"></script>



