<div class='text-center'>
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for='img' aria-label='money'>💲</span>
    <span class='dollar-amount'>{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class='btn btn-primary'>Fund this Project!</button>
  </p>
</div>

<div class='search'>
  <h1>Find A Book</h1>
  <form>
    <input type='text' placeholder='&#x270e; Enter Keyword' />
    <button type='submit'>Find Book</button>
  </form>

  <div class='category-list'>
    <div class='category'>
      <img src='science.png' alt='' />
      <p>Science</p>
    </div>
    <div class='category'>
      <img src='science.png' alt='' />
      <p>Science</p>
    </div>
    <div class='category'>
      <img src='science.png' alt='' />
      <p>Science</p>
    </div>
    <div class='category'>
      <img src='science.png' alt='' />
      <p>Science</p>
    </div>
    <div class='category'>
      <img src='science.png' alt='' />
      <p>Science</p>
    </div>
  </div>

</div>

<div class='content_section'>
  <h2>Our Books</h2>
  <div class='product_box margin_r35'>
    <h3>Maya Angelou</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/MA_IKW.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
  <div class='product_box margin_r35'>
    <h3>Zora Neal Hurston</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/ZNH_TEWWG.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
  <div class='product_box'>
    <h3>Octavia Butler</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/octavia butler kindred.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
  <div class='cleaner'></div>
  <div class='product_box margin_r35'>
    <h3>Maya Angelou</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/MA_IKW.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
  <div class='product_box margin_r35'>
    <h3>Maya Angelou</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/MA_IKW.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
  <div class='product_box'>
    <h3>Maya Angelou</h3>
    <div class='image_wrapper'>
      <a href='#'><img src='/images/MA_IKW.jpg' alt='' /></a>
    </div>
    <a href='#'>Exchange</a>
    |
    <a href='#'>Donate</a>
  </div>
</div>